.Title {
    color: hsla(240, 5%, 10%, 1);
    margin-bottom: 1em;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.Wrapper {
    padding: 10px;
    margin-bottom: 3em;
}

.Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    padding: 2em;
    margin: 0 auto;
    color: hsla(240, 5%, 10%, 1);
    background: hsla(240, 5%, 100%, 1);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    box-sizing: border-box;
}

.Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: .5em 0;
    color: hsla(240, 35%, 95%, 1);
    background: hsla(240, 5%, 10%, .95);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .4);
    font-weight: bold;
    font-size: 14px;
}

.Item > div {
    padding-top: 5px;
}

.Item > * {
    margin: 0 .3em;
}

.ItemIcon {
    height: 25px;
    width: 25px;
}

@scree