.Wrapper {
    padding: 10px;
    margin-bottom: 3em;
}

.Title {
    color: hsla(240, 5%, 10%, 1);
    margin-bottom: 1em;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    color: hsla(240, 35%, 95%, 1);
    background: hsla(240, 5%, 100%, 1);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    box-sizing: border-box;
    overflow: hidden;
}

.Row {
    display: flex;
    flex: 1;
}

.Row > * {
    flex: 1;
}

.RowImage {
    height: auto;
    width: 100%;
}

.RowText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsla(240, 5%, 10%, 1);
}

.RowText > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.RowText > span {
}