.Wrapper {
    padding: 10px;
}

.Title {
    color: hsla(240, 5%, 10%, 1);
    margin: 0 auto 1em;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: hsla(240, 35%, 95%, 1);
    background: hsla(240, 5%, 100%, 1);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
}

.Row {
    display: flex;
    flex: 1;
}

.Row > * {
    width: 50%;
    flex: 1;
}

.RowImage {
    height: auto;
}

.RowText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsla(240, 5%, 10%, 1);
}

.RowText > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

.RowText > div > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.4rem;
}

@media screen and (min-width: 600px) {
    .RowText > div > span {
        font-size: 1.2rem;
    }
    .RowText > div > span {
        height: 1.7rem;
    }
}


@media screen and (min-width: 1000px) {
    .Wrapper {
        margin-top: 3rem;
    }

    .RowText > div > span {
        font-size: 1.25rem;
    }
}