/** ================= */
/** PRODUCT COMPONENT */
/** ================= */
.Product {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 360px;
    margin: 0 0 8em;
    background: hsla(240, 5%, 13%, 1);
    border-radius: 3px;
    box-shadow: 0 0 .4em .4em hsla(0, 0%, 0%, .65);
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

@media screen and (min-width: 500px) {
    .Product {
        margin: 0 2em 8em;
    }
}

@media screen and (min-width: 900px) {
    .Product {
        margin: 0 5em 8em;
    }
}

/** ====================== */
/** PRODUCT HERO COMPONENT */
/** ====================== */
.ProductHero {
    min-height: 141px;
}

.ProductHero > img {

}

/** ======================= */
/** PRODUCT TITLE COMPONENT */
/** ======================= */
.ProductTitle {
    position: relative;
    text-align: center;
    padding: 0 0 1.2em;
    margin: 1.2em 2em 0;
    box-sizing: border-box;
    border-bottom: .4em solid hsla(0, 100%, 50%, .65);
}

.ProductTitle > * {
    box-sizing: border-box;
}

.ProductTitleHeading {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    min-height: 80px;
}

.ProductTitleHeading > div {
    margin: auto 0;
}

.ProductTitlePrice {
    margin: 1.2em 0 0.2em;
    stroke: black;
    font-size: 1.3em;
    font-weight: bold;
}

/** ============================= */
/** PRODUCT DESCRIPTION COMPONENT */
/** ============================= */
.ProductDescription {
    padding: 1.8em 2.5em;
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
}

.ProductDescription > div {
    margin: 1em 0;
}

/** ================================= */
/** PRODUCT PURCHASE BUTTON COMPONENT */
/** ================================= */
.ProductPurchaseButton {
    position: relative;
    display: inline-block;
    margin: 0 auto 1.8em;
    padding: .55em 1.5em;
    background-color: hsla(0, 100%, 40%, .9);
    background-image: linear-gradient(hsla(0, 100%, 40%, .8), hsla(0, 100%, 20%, .5));
    border: 1px solid hsla(0, 100%, 20%, 0.6);
    border-radius: .3em;
    box-shadow: 0 0 .3em .35em hsla(240, 8%, 5%, .8);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    color: black;
}

.ProductPurchaseButton:hover {
    background: hsla(0, 100%, 35%, .90);
}

/** ====================== */
/** PRODUCT TITLE COMPONENT */
/** ====================== */