.TableColumn {
    display: flex;
    flex-direction: column;
    color: #FFC900;
    font-size: .875rem;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
}

.TableColumn.Title {
    color: hsla(225, 5%, 97%, 1);
    font-size: 1.125rem;
}

.TableColumn.Title {
    color: #FFC900;
    font-weight: bold;
}

.TableRow {
    display: flex;
    text-align: center;
    white-space: nowrap;
}

.TableRow:nth-child(even) {
    //background: hsla(240, 5%, 98%, 1);
}

.TableRow > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
}

.TableRowSeparator {
    height: 2px;
    background: hsla(240, 5%, 12%, 1);
}

.TableRowSeparator {
    height: 2px;
    background: hsla(240, 5%, 97%, .8)
}

.RequestProposalButton {
    padding: .35em .6em;
    margin: 0 auto;
    color: hsla(240, 35%, 95%, 1);
    background-color: hsla(141, 70%, 45%, 1);
    background-image: linear-gradient(hsla(141, 70%, 50%, .4), hsla(141, 70%, 33%, .8));
    border: 2px solid hsla(141, 70%, 20%, .2);;
    border-radius: .5em;
    box-shadow: 0 0 .1em .1em hsla(240, 5%, 30%, .3);
    font-size: 14px;
}

.RequestProposalButton:hover {
    background-image: linear-gradient(hsla(141, 70%, 18%, .2), hsla(141, 70%, 12%, .2));
}

.RequestProposalButton.disabled {
    padding: .35em .6em;
    margin: 0 auto;
    color: hsla(240, 35%, 95%, 1);
    background-color: hsla(0, 70%, 45%, 1);
    background-image: linear-gradient(hsla(0, 70%, 50%, .4), hsla(0, 70%, 33%, .8));
    border: 2px solid hsla(0, 70%, 20%, .2);;
    border-radius: .5em;
    box-shadow: 0 0 .1em .1em hsla(240, 5%, 30%, .3);
    font-size: 14px;
}

.RequestProposalButton.disabled:hover {
    cursor: not-allowed;
    background-image: linear-gradient(hsla(0, 70%, 18%, .2), hsla(0, 70%, 12%, .2));
}

@media screen and (min-width: 600px) {

    .TableColumn {
        font-size: 16px;
    }

    .TableColumn.Title {
        font-weight: bold;
    }

    .TableRow {
        padding: 0 2em;
    }

    .TableRow > * {
        height: 60px;
    }

}