.Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.Schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-top: 3rem;
}

.Schedule:first-of-type {
    min-height: 100vh;
    margin-top: initial;
}

.Schedule:first-of-type .ScheduleTitle {
    color: #FFC900;
}

.ScheduleTitle {
    margin: 0 auto 1.2em;
    color: hsla(240, 5%, 10%, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.ScheduleBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    color: hsla(240, 5%, 10%, 1);
    background: hsla(240, 5%, 10%, .85);
    border-radius: .5em;
    box-shadow: 0 0 .1em .2em hsla(240, 5%, 10%, .80);;
}

@media screen and (min-width: 1000px) {

    .Wrapper {
        flex-direction: row;
        justify-content: center;
        max-width: initial;
    }

    .Schedule {
        margin: 0 2rem;
        flex: 1;
    }

    .ScheduleTitle {
        color: #FFC900;
    }

}

@media screen and (min-width: 1400px) {
    .Schedule {
        margin: 0 5rem;
        flex: 1;
    }
}