.Wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.Wrapper {
    margin-top: 5%;
}

.ScheduleTitle {
    margin: 0 auto .3em;
    color: #FF6A00;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.ScheduleBodyWrapperWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0;
}

.ScheduleBodyWrapperWrapper > div {
    margin-bottom: 5rem;
}

.ScheduleBodyWrapperWrapper > div.ToFinland {
    margin-bottom: 50%;
}

.ScheduleBodyWrapperWrapper > div:not(.ToFinland) > h3 {
    color: hsla(240, 5%, 10%, 1);;
}

.ScheduleBodyWrapper {
    display: flex;
    width: 100%;
    padding: 0;
    background: hsla(240, 5%, 100%, 1);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    overflow: auto;
    flex: 1;
}

.ScheduleBodyWrapper {
    background: hsla(240, 5%, 10%, .85);
    box-shadow: 0 0 .1em .2em hsla(240, 5%, 10%, .80);;
}

.ScheduleBodyTitle {
    margin: 1.5em auto .6em;
    max-width: 450px;
    color: hsla(240, 5%, 10%, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ScheduleBodyTitle {
    color: #FFC900;
    margin: 1.5em auto 1.2em;
}

.ScheduleBody {
    display: flex;
    flex-direction: column;
    color: hsla(240, 5%, 10%, 1);
    max-width: 600px;
    flex: 1;
}

@media screen and (max-width: 1000px) and (min-height: 700px) {
    .Wrapper {
        margin-top: 20%;
    }
    .ScheduleBodyWrapperWrapper > div.ToFinland {
        margin-bottom: 80%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 800px) {
    .ScheduleBodyWrapperWrapper > div.ToFinland {
        margin-bottom: 100%;
    }
}

@media screen and (min-width: 1000px) {

    .Wrapper {
        margin-top: 5rem;
    }

    .ScheduleBodyWrapper {
        background: hsla(240, 5%, 10%, .6);
        box-shadow: 0 0 .1em .2em hsla(240, 5%, 10%, .65);;
    }

    .ScheduleBodyWrapperWrapper {
        justify-content: center;
        flex-direction: row;
        max-width: initial;
    }

    .ScheduleBodyWrapperWrapper > div {
        max-width: 600px;
        flex: 1;
    }

    .ScheduleBodyWrapperWrapper > div:first-of-type {
        margin: 0 1.5rem 0 0;
    }

    .ScheduleBodyWrapperWrapper > div:nth-of-type(2) {
        margin: 0 0 0 1.5rem;
    }

    .ScheduleBodyTitle {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1400px) {
    .ScheduleBodyWrapperWrapper > div:first-of-type {
        margin: 0 3rem 0 0;
    }

    .ScheduleBodyWrapperWrapper > div:nth-of-type(2) {
        margin: 0 0 0 3rem;
    }
}