.TableColumn {
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    flex: 1;
}

.TableColumn.Title {
    font-size: 16px;
}

.TableRow {
    display: flex;
    text-align: center;
    white-space: nowrap;
}

.TableRow:nth-child(even) {
    background: hsla(240, 5%, 98%, 1);
}

.TableRow > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
}

.TableRowSeparator {
    height: 2px;
    background: hsla(240, 5%, 12%, 1);
}

.RequestProposalButton {
    padding: .4em .3em;
    color: hsla(240, 35%, 95%, 1);
    background-color: hsla(141, 70%, 45%, 1);
    background-image: linear-gradient(hsla(141, 70%, 50%, .4), hsla(141, 70%, 33%, .8));
    border: 2px solid hsla(141, 70%, 20%, .2);;
    border-radius: .5em;
    box-shadow: 0 0 .1em .1em hsla(240, 5%, 30%, .3);
}

.RequestProposalButton:hover {
    background-image: linear-gradient(hsla(141, 70%, 18%, .2), hsla(141, 70%, 12%, .2));
}