.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 80px 90px 80px;
    color: black;
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
}

.LoginForm > fieldset {
    display: flex;
    flex-direction: column;
}

.InputWrapper {
    display: flex;
}

.InputWrapper > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.InputLabel {
    margin: 0 0 .2em 1em;
}

.Input {
    margin: 0 0 3em 0;
    padding: .5em 3em .3em 1em;
    border: none;
    border-bottom: 3px solid hsla(0, 100%, 10%, .85);
    border-radius: 4px;
    font-size: 1.3em;
    box-sizing: border-box;
    box-shadow: .1em .1em .10em .05em hsla(0, 0%, 0%, .75);
}

.ToggleFormButton {
    margin: 2em 0 1.3em 0;
    background: none;
    color: white;
    border: none;
    font-size: 1.4em;
    text-decoration: underline;
}


.SubmitButton {

}