.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: hsla(216, 20%, 100%, 1);
    box-shadow: 0 0 .1em .1em hsla(240, 5%, 3%, .1);
    box-sizing: border-box;
    z-index: 1000;
}

.Navigation * {
    color: hsla(240, 5%, 10%, 1);
}

.scrolled {

}

.tablet {
    padding: 0 .5em;
}

.mobile {
    padding: 0 .3em;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
}