.LayoutContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 50px 25px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

@media screen and (min-width: 600px) {

    .LayoutContainer {
        padding: 50px;
    }

}