.LayoutContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 3rem 20px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

@media screen and (min-width: 600px) {

    .LayoutContainer {
        padding: 50px;
    }

}