.Page {
    height: 100%;
    margin: 0;
    padding: 90px 0 65px 0;
    box-sizing: border-box;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}