.Page {
    min-height: 100vh;
    padding-top: 100px;
    margin: 0;
    box-sizing: border-box;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 65px);
    box-sizing: border-box;
    overflow: visible;
}