.Page {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    box-sizing: border-box;
    overflow: visible;
}