.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: hsla(240, 6%, 10%, 1);
    box-sizing: border-box;
    z-index: 100;
}

.scrolled {
    background: hsla(240, 6%, 10%, 1);
    border-bottom: 2px solid hsla(240, 6%, 5%, .7);
}

.scrolled:not(.floaterVisible) {
}

.tablet {
    padding: 0 .5em;
}

.mobile {
    padding: 0 .3em;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .Wrapper {
    }
}

@media screen and (max-width: 750px) {
    .Wrapper {
    }
}