.FormTitleWrapper {
    margin: 0 auto 3em;
}

.FormTitle {
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 1.6em;
}

.FormTitle,
.FormDescription
{
    color: hsla(240, 5%, 10%, 1);
    text-align: center;
}

.FormDescription {
    font-size: 16px;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 1.5em 2em 1.5em;
    color: hsla(240, 35%, 95%, 1);
    background: hsla(240, 5%, 100%, 1);
    border-radius: .5em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    box-sizing: border-box;
}

.FieldRow {
    display: flex;
    margin: 1em 0;
}

.FieldRow > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SubmitButtonRow {
    margin: 0;
}

@media screen and (min-width: 1000px) {

    .FormTitleWrapper {
        width: 100%;
        max-width: 900px;
        padding-left: 4.5em;
        margin-top: 2.5em;
        box-sizing: border-box;
    }

    .ContactForm {
        width: 100%;
        max-width: 900px;
        padding: 1.5em 4.5em 1.5em;
        margin: 0 auto;
    }

    .FieldRow {
        margin: 1em 0;
    }

    .SubmitButtonRow {
        margin: 0 .5em 0 auto;
    }

}