.TextInput,
.TextAreaInput,
.SubmitButton
{
    margin: .5em 0 .5em;
}

.TextInput,
.TextAreaInput
{
    padding: .7em .5em;
    background: hsla(216, 20%, 98%, 1);
    border: none;
    box-shadow: 0 0 2px .1em hsla(240, 5%, 85%, .6);
    border-radius: .1em;
    font-size: 14px;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}

.TextInput:read-only,
.TextAreaInput:read-only
{
    background: hsla(0, 0%, 90%, 1);
    cursor: not-allowed;
    user-select: none;
}

.TextInput:focus:not(:read-only),
.TextAreaInput:focus:not(:read-only)
{
    background: hsla(216, 20%, 99%, 1);
    box-shadow: 0 0 .5em .1em hsla(240, 5%, 85%, .9);
}


.TextInputWithError,
.TextAreaInputWithError
{
    box-shadow: 0 0 .1em .1em hsla(0, 90%, 40%, 1);
}

.TextInputWithError:focus,
.TextAreaInputWithError:focus
{
    box-shadow: 0 0 .3em .1em hsla(0, 90%, 40%, 1);
}

.TextAreaInput > * {
    font-size: 14px;
}

.SubmitButton {
    padding: .8em 1em;
    margin: 1em 0 0;
    color: hsla(240, 35%, 95%, 1);
    background-color: hsla(141, 70%, 35%, 1);
    background-image: linear-gradient(hsla(141, 70%, 45%, .4), hsla(141, 70%, 30%, .8));
    border: none;
    border-radius: .2em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    font-weight: bold;
    flex: 1;
}

.SubmitButton:hover {
    background-image: linear-gradient(hsla(141, 70%, 35%, .1), hsla(141, 70%, 15%, .1));
}

.FieldLabel {
    padding: 0 0 .3em .1em;
    color: hsla(240, 5%, 20%, 1);
    font-weight: bold;
    font-size: 16px;
}

.FieldDescription {
    padding: .1em 0 .3em .1em;
    color: hsla(240, 5%, 40%, 1);
    font-size: 14px;
}

.FieldDescription.TextInputFieldDescription {
    display: flex;
    flex-direction: column;
}

.FieldError {
    margin: .2em 0 0;
    color: hsla(0, 70%, 50%, 1) !important;
    font-size: 14px;
}

.FormError {
    margin-top: 1.5em;
}

@media screen and (min-width: 600px) {

    .TextInput,
    .TextInputFieldDescription
    {
        max-width: 300px;
    }

    .SubmitButton {
        width: 100%;
    }

}