.TextInput,
.TextAreaInput,
.SubmitButton
{
    margin-top: .4em;
}

.TextInput,
.TextAreaInput
{
    padding: .7em .5em;
    background: hsla(216, 20%, 99%, 1);
    border-top: 2px solid hsla(216, 20%, 60%, .7);
    border-left: 2px solid hsla(216, 20%, 3%, .7);
    border-right: 2px solid hsla(216, 20%, 6%, 1);
    border-bottom: 2px solid hsla(216, 20%, 6%, 1);
    border: none;
    box-shadow: 0 0 .1em .1em hsla(240, 5%, 85%, .9);
    border-radius: .1em;
    font-size: 15px;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}

.TextInput:focus,
.TextAreaInput:focus
{
    background: hsla(216, 20%, 96%, 1);
    box-shadow: 0 0 0 .1em hsla(240, 5%, 70%, 1);
}


.TextInputWithError,
.TextAreaInputWithError
{
    background: hsla(0, 70%, 14%, .7);
}

.TextInputWithError:focus,
.TextAreaInputWithError:focus
{
    background: hsla(0, 70%, 15%, .7);
}

.TextAreaInput > * {
    font-size: 14px;
}

.SubmitButton {
    padding: .8em 1em;
    margin: 1em 0 0;
    color: hsla(240, 35%, 95%, 1);
    background-color: hsla(141, 70%, 35%, 1);
    background-image: linear-gradient(hsla(141, 70%, 45%, .4), hsla(141, 70%, 30%, .8));
    border: none;
    border-radius: .2em;
    box-shadow: .1em .1em .2em .1em hsla(240, 5%, 60%, .6);
    font-weight: bold;
    flex: 1;
}

.SubmitButton:hover {
    background-image: linear-gradient(hsla(141, 70%, 35%, .1), hsla(141, 70%, 15%, .1));
}

label {
    color: hsla(240, 5%, 20%, 1);
    padding: 0 0 .3em .1em;
    font-weight: bold;
    font-size: 16px;
}

.FieldError {
    margin: .5em .3em 0;
    color: hsla(0, 70%, 50%, 1) !important;
    font-weight: bold;
    font-size: .9em;
}

.FormError {
    padding: 1.2em 1em;
    margin: 1em 0;
    color: white !important;
    border-radius: 2px;
    background: hsla(0, 70%, 15%, .8);
    box-shadow: 0 0 .7em .5em hsla(0, 0%, 0%, .3);
    font-size: 1.1em;
    text-align: center;
}

@media screen and (min-width: 1000px) {

    .TextInput {
        max-width: 500px;
    }

}