.ContactForm {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 2em 2em 2.5em;
    background: hsla(240, 5%, 10%, .6);
    border: 3px solid hsla(240, 5%, 20%, .6);
    border-radius: .3em;
    box-shadow: 0 0 .4em .2em hsla(240, 5%, 5%, 1);
}

.FieldRow {
    margin: 1.2em auto;
}

.ContactForm * {
    color: hsla(240, 5%, 100%, 1);
}

.SubmitButtonRow {
    margin: 0 auto;
}

.FormTitle {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: .5em;
}

.FormDescription {
    text-align: center;
}