.TextInput,
.TextAreaInput,
.SubmitButton
{
    margin-top: .4em;
}

.TextInput,
.TextAreaInput
{
    width: 100%;
    padding: .9em .8em;
    background: hsla(240, 5%, 7%, .8);
    border-top: 2px solid hsla(240, 5%, 3%, .7);
    border-left: 2px solid hsla(240, 5%, 3%, .7);
    border-right: 2px solid hsla(240, 5%, 6%, 1);
    border-bottom: 2px solid hsla(240, 5%, 6%, 1);
    border-radius: .1em;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}

.TextInput:focus,
.TextAreaInput:focus
{
    background: hsla(240, 5%, 8%, .8);
    box-shadow: 0 0 .2em .1em hsla(240, 5%, 8%, .6);
}


.TextInputWithError,
.TextAreaInputWithError
{
    background: hsla(0, 70%, 14%, .7);
}

.TextInputWithError:focus,
.TextAreaInputWithError:focus
{
    background: hsla(0, 70%, 15%, .7);
}

.TextAreaInput > * {
    font-size: 14px;
}

.SubmitButton {
    padding: .5em 3em;
    margin: 1em auto 0;
    color: white !important;
    background-color: hsla(200, 78%, 50%, 1);
    background-image: linear-gradient(hsla(200, 90%, 45%, .7), hsla(200, 80%, 25%, .6));
    border: 2px solid hsla(200, 100%, 20%, .6);
    border-radius: .8em;
    box-shadow: 0 0 .3em .1em hsla(240, 20%, 25%, .3);
    font-size: 1.15em;
    font-weight: bold;
}

.SubmitButton:hover {
    background-image: linear-gradient(hsla(200, 90%, 52%, .7), hsla(200, 80%, 25%, .6));
}

label {
    padding-left: .5em;
}

.FieldError {
    margin: .5em .3em 0;
    color: hsla(0, 70%, 50%, 1) !important;
    font-weight: bold;
    font-size: .9em;
}

.FormError {
    padding: 1.2em 1em;
    margin: 1em 0;
    color: white !important;
    border-radius: 2px;
    background: hsla(0, 70%, 15%, .8);
    box-shadow: 0 0 .7em .5em hsla(0, 0%, 0%, .3);
    font-size: 1.1em;
    text-align: center;
}

@media screen and (min-width: 1000px) {

    .TextInput {
        max-width: 500px;
    }

}