.Navigation {
    background: hsla(240, 6%, 8%, 0);
    border: none;
}

.Index {
    padding-top: 0;
}

.HeroSubPage {
    background: url('http://localhost:3000/img/Mobile hero.svg') no-repeat center;
    background-size: cover;
}

.HeroLayoutContainer {
    justify-content: center;
    padding-bottom: 1.1em;
}