.Index {
    //padding-top: 0;
}

/*
.Navigation {
    background: hsla(0, 0%, 0%, 0);
    border: none;
    box-shadow: none;
    color: white;
}

.Navigation * {
    color: hsla(240, 35%, 95%, 1);
}
*/

.HeroSubPage {
    //min-height: 100vh;
}


.HeroLayoutContainer {
    justify-content: center;
    /*
    padding: 0;
    max-width: initial;*/
}

.ScheduleLayoutContainer {
}

.ScheduleScrollAnchor {
    position: absolute;
    bottom: 20px;
}

.ContactInfoAnchor {
    position: absolute;
    top: -100px;
}