.Wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: hsla(240, 6%, 0%, .5);
    z-index: 9000;
}

.Wrapper.hidden {
    display: none;
}

.Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 2em;
    color: hsla(240, 5%, 10%, 1);
    background: hsla(216, 20%, 100%, 1);
    box-shadow: 0 0 .3em .3em hsla(240, 5%, 10%, .4);
    border-radius: .5em;
    text-align: center;
    max-width: 440px;
}

.Header {
    margin-bottom: 2em;
}

.Header > div {
    max-width: 350px;
    margin: .5em 0;
}

.Header > div:first-of-type {
    margin: 0 0 .5em 0;
    font-size: 1.4em;
    font-weight: bold;
}

.Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.CookieButton {
    width: 100%;
    max-width: 300px;
    padding: .7em 1em;
    margin: .5em 0;
    border: none;
    border-radius: .5em;
    color: hsla(240, 35%, 95%, 1);
    box-shadow: 0 0 .2em .1em hsla(240, 5%, 10%, .4);
    font-size: 16px;
    font-weight: bold;
}
.CookieButton.accept {
    background: hsla(120, 100%, 20%, 1) linear-gradient(hsla(120, 100%, 28%, 1), hsla(120, 100%, 40%, .3));
    border: 2px solid hsla(141, 70%, 20%, .2);;
}

.CookieButton.accept:hover {
    background: hsla(120, 100%, 20%, 1) linear-gradient(hsla(120, 100%, 25%, 1), hsla(120, 100%, 34%, .3));
}

.CookieButton.reject {
    background: hsla(0, 100%, 37%, 1) linear-gradient(hsla(0, 100%, 35%, 1), hsla(0, 100%, 40%, .3));
    border: 2px solid hsla(0, 70%, 20%, .2);;
}

.CookieButton.reject:hover {
    background: hsla(0, 100%, 37%, 1) linear-gradient(hsla(0, 100%, 32%, 1), hsla(0, 100%, 34%, .3));
}