.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    max-width: 240px;
    padding: 1rem 2rem;
    color: hsla(240, 5%, 10%, 1);
    background: hsla(216, 20%, 100%, 1);
    box-shadow: 0 0 .3em .3em hsla(240, 5%, 10%, .4);
    border-radius: .5em;
    text-align: center;
    box-sizing: border-box;
}

.Container.hidden {
    display: none;
}

.Header {
    margin: .5rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.CookieButton {
    width: 100%;
    max-width: 210px;
    padding: .45em .6em;
    margin: .4em 0;
    border-radius: .5em;
    color: hsla(240, 35%, 95%, 1);
    box-shadow: 0 0 1px 1px hsla(216, 5%, 10%, .3);
    font-size: .9rem;
    font-weight: bold;
}
.CookieButton.accept {
    background: hsla(120, 100%, 20%, 1) linear-gradient(hsla(120, 100%, 28%, 1), hsla(120, 100%, 40%, .3));
    border: 2px solid hsla(141, 70%, 20%, .2);;
}

.CookieButton.accept:hover {
    background: hsla(120, 100%, 20%, 1) linear-gradient(hsla(120, 100%, 25%, 1), hsla(120, 100%, 34%, .3));
}

.CookieButton.reject {
    background: hsla(0, 100%, 37%, 1) linear-gradient(hsla(0, 100%, 35%, 1), hsla(0, 100%, 40%, .3));
    border: 2px solid hsla(0, 70%, 20%, .2);;
}

.CookieButton.reject:hover {
    background: hsla(0, 100%, 37%, 1) linear-gradient(hsla(0, 100%, 32%, 1), hsla(0, 100%, 34%, .3));
}